body {
	background-color: #F50;
}

.tbl-pnl {
	height: 20em;
	display: block;
	overflow-y: scroll;
	border: 1px solid #EEF;
}

.tbl-pnl-pequeno {
	height: 12em;
	display: block;
	overflow-y: scroll;
	border: 1px solid #EEF;
}

.tbl-pnl Table,
.tbl-pnl-pequeno Table {
	background-color: #FFF;
	vertical-align: middle;
}